* {
    margin: 0;
    padding: 0;
}

.load {
    margin: 0;
    width: 100vw;
    height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-top: 1vh solid #00579D;
}

.load div {
    width: 30%;
    height: 200px;
    background-image: url('../img/gew.png');
    background-position: center;
    background-size: cover;
}